*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


section {
    display: none; 
}
  
body[data-section="media"] section[data-section="media"],
body[data-section="users"] section[data-section="users"],
body[data-section="loans"] section[data-section="loans"] {
    display: block; 
}

body{
    display: flex;
    width: 100%;
    height: 100%;
}

menu{
    background-color: rgb(194, 194, 194);
    height: 100%;
    width: 20%;
}

menu div{
    padding: 1rem;
    border-bottom: 1px solid #000;
}

menu div:hover{
    background-color: #727272;
    color: #000000;
    cursor: pointer;
}

menu div:first-child{
    margin-top: 3rem;
    border-top: 1px solid #000;
}

main{
    padding: 2rem;
    height: fit-content;
}

#quantity, #price{
    width: 2rem;
}

table {
    border-collapse: collapse; /* merge adjacent borders into one */
    width: 60%;
    margin: 20px auto;
}

th, td, tr {
    border: 2px solid #333; /* add border to cells */
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

.active{
    background-color: #727272;
    color: #000000;
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
  
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog form {
    display: flex;
    flex-direction: column;
}

dialog form menu {
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

dialog form menu button {
    margin: 0.3rem;
    width: 40%;
    padding: 0.5rem;
}

#add-media-con{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    row-gap: 0.5rem;
}

#add-media-con input[type="text"],
#add-media-con select{
    width: 20rem;
    padding: 0.3rem;
}

#add-media-con button{
    width: 8rem;
    padding: 0.5rem;
    align-self: center;
}

#quandity, #price{
    width: 6rem;
    padding: 0.5rem;
}