button {
    font-size: 1.2rem;
}



main {
    width: 100%;
}



.media-list {
    width: 80%;

}
#media-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}


.media-name {
    padding: 14px 0;
}

.media-icon {

    font-size: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.media-text-container {
    display: flex;
    flex-direction: column;

}

h2 {
    margin: 0;
    line-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h4 {
    text-transform: capitalize
}

.media-box {
    display: block;
    box-sizing: border-box;


    box-shadow: -20px 0 ;
    margin-left: 20px;
}
.media-box > * {
    color: black;
}

.bok{
    background-color: rgba(122, 122, 233, 0.5);
    color: rgb(50, 51, 94);
}
.film {
    background-color: rgba(0, 139, 0, 0.5);
    color: rgb(0, 88, 0);
}
.ljudbok {
    background-color: rgba(184, 48, 48, 0.5);
    color: rgb(133, 34, 34);
}

.top-bottom-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    flex: 1;
    min-width: 0;
}

.grid-view {
    flex-direction: row;
}
.list-view {
    flex-direction: column;

}

.grid-view > * {
    padding: 1rem;
    width: 14rem;
    height: 20rem;
}
.list-view > * {
    padding: 1rem;
    min-height: 10rem;
    box-shadow: none;
    background-color: rgba(44, 44, 44, 0.082);
    border-bottom: solid 1px;
}
.list-view > .media-text-container {
    flex-direction: row;
}


.catalog-text-icon {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.grid-view .media-box > .catalog-text-icon {
    flex-direction: column;
}
.list-view .media-box > .catalog-text-icon {
    flex-direction: row-reverse;
    justify-content: space-between;
}






.media-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr;
}
.media-grid-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr;
}


.loan-button {
    background-color: rgb(1, 107, 206);
    padding: 0.5rem;
}



.grid-view .media-box .media-grid .grid-view-button {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.list-view .media-box .media-grid .grid-view-button {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}


.list-view .media-box .media-grid .text-div > div:nth-child(2) {
    display: flex;
    align-items: end;
    
}