body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .login-box {
    background: white;
    padding: 30px;
    width: 300px;
  }

  .login-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    
  }

  .login-box button {
    width: 100%;
    padding: 10px;
    background: #191a1b;
    color: white;
    border: none;
    
    cursor: pointer;
    font-size: 16px;
  }

  .login-box button:hover {
    background: #0056b3;
  }

  .passwordNew{
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }