body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

form {
  background: white;
  padding: 30px;
  width: 300px;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  
}

p {
  color: red; font-size: 0.9em;
  margin-top: 2px;
}

button {
  width: 100%;
  padding: 10px;
  background: #191a1b;
  color: white;
  border: none;
  
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}

nav {
  background: white;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 300px;
}

nav button {
  width: 48%;
  margin: 1%;
  background: #191a1b;
}

#registerForm, #showLoginForm{
  display: none;
}