*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse; /* merge adjacent borders into one */
    width: 100%;
    margin: 20px auto;
}

th, td, tr {
    border: 2px solid #333; /* add border to cells */
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

menu{
    background-color: rgb(194, 194, 194);
    width: 50%;
    padding: 0.5rem;
    display: flex;
    gap: 0rem;
    flex-direction: row;
    
}

menu button{
    /* padding: 0.3rem; */
    cursor: pointer;
    font-size: 1rem;
}

menu div{
    display: flex;
    flex-direction: column;
}

menu div label{
    margin-bottom: 0.2rem;
    font-size: medium;
}